@model IEnumerable<InventorySales.ViewModels.ProductRecentEntriesViewModel>
<div class="panel panel-default">
     <div class="panel-heading">
          <b>Recent Product Entries</b>
     </div>
     <div class="panel-body">
          <ul class="list-group">
               @foreach (var item in Model)
               {
                    <li class="list-group-item">
                         <div>
                              @item.Category, @item.ProductName: @item.ProductDescription
                         </div>
                    </li>
               }
          </ul>
     </div>
</div>
